<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mirror Plugin"
            id="Mirror">
      </category>
      <view
            name="Mirror View"
            icon="icons/sample.gif"
            category="Mirror"
            class="mirror.MirrorView"
            id="mirror.MirrorView">
      </view>
   </extension>
</plugin>
